@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    width: 80%;
    margin: auto;
}

.row {
    min-height: 100vh;
}

.card1 {
    margin: 20px;
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    padding: 7rem 4rem;
    position: relative;
    will-change: transform;
    background-image: linear-gradient(rgba(178,181,194,0.7),rgba(178,181,194,0.7)),url(Classic.jpg);
}

.card2 {
    margin: 20px;
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    padding: 7rem 4rem;
    position: relative;
    will-change: transform;
    background-image: linear-gradient(rgba(178,181,194,0.7),rgba(178,181,194,0.7)),url(Deluxe.jpg);
}

.card3 {
    margin: 20px;
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    padding: 7rem 4rem;
    position: relative;
    will-change: transform;
    background-image: linear-gradient(rgba(178,181,194,0.7),rgba(178,181,194,0.7)),url(Beanie.jpg);
}

.card4 {
    margin: 20px;
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    padding: 7rem 4rem;
    position: relative;
    will-change: transform;
    background-image: linear-gradient(rgba(178,181,194,0.7),rgba(178,181,194,0.7)),url(3D.jpg);
}

.card1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: yellow;
    transition: 0.5s;
}

.card1:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

.card1:hover:after {
    width: 100%;
}

.card2:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: yellow;
    transition: 0.5s;
}

.card2:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

.card2:hover:after {
    width: 100%;
}

.card3:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: yellow;
    transition: 0.5s;
}

.card3:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

.card3:hover:after {
    width: 100%;
}

.card4:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: yellow;
    transition: 0.5s;
}

.card4:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

.card4:hover:after {
    width: 100%;
}

.card-header {
    background-color: transparent;
    padding-left: 2rem;
    font-size: 20px;
    border-bottom: 0px;
}

.card-title {
    padding-left: 2rem;
    color: yellow;
    font-size: 50px;
}

.card-block {
    padding-top: 0;
}

.ul {
    border: 0px;
    padding: 0.25rem;
    color: #808080;
    font-weight: 300;
}

.display-2 {
    font-size: 7rem;
    letter-spacing: -0.5rem;
}

.display-2 .currency {
    font-size: 2.75rem;
    position: relative;
    font-weight: 400;
    top: -45px;
    letter-spacing: 0px;
}

.display-2 .period {
    font-size: 1rem;
    color: #b3b3b3;
    letter-spacing: 0px;
}
